body {
    background-color: #f5f5f5;
    font-family: 'Lato', sans-serif;
}

h2,
h3,
h4,
h5 {
    font-family: 'Cormorant Garamond', serif;
}

h6 {
    font-size: 1.1em !important;
}

a,
.fa {
    color: #000;
}

.social {
    font-size: 20px;
    letter-spacing: 10px;
}

.statement a:hover {
    background-color: #000 !important;
    color: #fff !important;
}

.intro {
    margin-bottom: 10em !important;
}

.intro-links {
    margin-top: 2em;
    font-size: 18px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.intro-links a,
.resume-links a {
    margin-left: 1em;
}

.nav:hover,
.resume-links a:hover,
.work-types a:hover,
.down:hover {
    background-color: #f4ff81;
}

.fa:hover {
    color: #80deea;
}

.brand {
    margin-top: 10em;
}

.education {
    margin-bottom: 7em;
}

.skills {
    list-style-type: none;
    line-height: 1.5;
}

.skills h4{
    margin-bottom: 1em;
}

.work-types ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3em;
    margin-bottom: 3em;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project {
    max-width: 30%;
}

.project img {
    width: 100%;
}

.project-images {
    max-width: 300px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.project-image {
    display: none;
}

.project-links .fa {
    font-size: 1.5em;
    padding-left: 1em;
    margin-top: 1em;
}

.project-links {
    text-align: right;
}

.collapsible {
    border-style: none;
    box-shadow: none;
}

.collapsible-header {
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    padding-left: 0;
    text-transform: uppercase;
}

.collapsible-body {
    background-color: #fff;
    font-size: .9em;
}

.news-projects {
    justify-content: space-between;
    max-width: 65%;
}

.news-project {
    max-width: 46.5%;
}

@media only screen and (max-width: 480px) {
    .project,
    .news-project,
    .news-projects {
        min-width: 100%;
        margin: 0;
        margin-bottom: 3em;
        padding: 0;
    }

}
