.fa {
    color: black;
}

.social {
    font-size: 30px;
    letter-spacing: 10px;
}

h2,
h3,
h4 {
    font-family: 'Cormorant Garamond', serif;
}

h5 {
    color: black;
}


/* isn't working
btn-flat:hover {
    background-color: white;
}
*/
